@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('slick-theme.css');
/***********COMMAN CSS START***********/

body{
    font-size: 15px;
    color: #333333;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 7px;
    height: 5px;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F5F5FD;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #4D907A;
}
p{
    line-height: 1.7;
}
.container{
    width: 100%;
    max-width: 1024px;
}
img{
    max-width: 100%;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
h1{
    font-size: 30px;
    color: #4D907A;
    font-weight: 600;
    margin: 0px;
    padding-bottom: 20px;
}
h2{
    font-size: 35px;
    color: #4D907A;
    font-weight: bold;
    margin: 0px 0px 20px 0px;
}
h2.heading-md{
    font-size: 24px;
}
h2 i{
    font-size: 20px;
}
h5{
    font-size: 20px;
    color: #4D907A;
    font-weight: 600;
    margin-bottom: 20px;
}
h3{
    font-size:20px;
    font-weight: 600;
    color: #4D907A;
}
h4{
    font-size:18px;
    font-weight: 600;
    color: #4D907A;
}
a{
    color: #4D907A;
    text-decoration: none;
    transition: ease-in-out 0.5s;
}
.f12{
    font-size: 12px !important;
}
.f13{
    font-size: 13px !important;
}
.f16{
    font-size: 16px !important;
}
.f14{
    font-size: 14px !important;
}
p{
    margin-bottom: 10px;
}
a:hover{
    color: #4D907A;
}
.btn-primary{
    background-color: #4D907A;
}
.text-primary{
    color: #4D907A !important;
}
.btn-secondary{
    color: #4D907A;
    background-color: #FFF;
}
.btn-secondary:hover, .btn-secondary.active, .btn-secondary:focus, .btn:hover{
    color: #FFF;
    background-color: #3E7762;  
}
.btn.btn-md{
    min-width: 150px;
}
.btn.btn-sm{
    height: 33px;
    line-height: 33px;
    font-size: 14px;
    padding: 0px 15px;
    min-width: inherit;
}
.btn.btn-primary:hover, .btn-check:focus+.btn-primary, .btn-primary:focus{
    background-color: #797DB8;
    border-color: #797DB8;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
}
.btn{
    height: 50px;
    border:none;
    letter-spacing: 0.5px;
    font-size: 16px;
    font-weight: 500;
    line-height: 50px;
    color: #FFF;
    padding: 0px 15px;
    min-width: 110px;
    border-radius: 15px;
    background-color: #4D907A;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
}
.btn.btn-lg{
    font-size: 18px;
    height: 50px;
    line-height: 50px;
}
.btn + .btn{
    margin-left: 12px;
}
.textLink{
    color: #4D907A;
    text-decoration: underline;
}
.btn-long{
    min-width: 300px;
}
.form-control{
    font-size: 16px;
    color: #333333;
    padding: 7px 18px;
    border-radius: 0px;
    border-color: #B3B3B3;
    background-color: #FFF;
}
.form-control:focus{
    border-color: #4D907A;
    background-color: #FFF;
    box-shadow: 0px 0px 30px rgb(77 144 122 / 40%);
}
.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu){
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-right: 20px;
}
.form-field{
    margin-bottom: 20px;
}
.form-label{
    font-size: 16px;
    color: #4D907A;
    font-weight: 600;
    margin-bottom: 4px;
}
.form-label.f13{
    font-size: 14px !important;
}
.btn-secondary{
    padding: 0px 20px;
    border-radius: 30px;
    height: 40px;
    line-height: 40px;
}
/***********COMMAN CSS END***********/

/*********HEADER CSS START*********/

.navbar-brand{
    padding: 15px;
    position: relative;
    background-color: #FFF;
}
.navbar-brand img{
    width: 120px;
}
.siteHeader{
    background-color: #2B2A29;
}
.navbar-nav{
    padding-left: 150px;
}
.navbar-nav .dropdown-toggle:after{
    content: "\f13a";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    border:none !important;
    position: relative;
    top: 5px;
    color: #A1A1A1;
}
.navbar-nav .nav-item .nav-link{
    color: #FFF;
    font-size: 18px;
    padding: 27px 15px !important;
}
.navbar-nav .nav-item .nav-link:hover, .navbar-nav .nav-item .nav-link.show{
    background-color: #818181;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {

	.dropdown-menu li{
		position: relative;
	}
	.dropdown-menu .submenu{ 
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.dropdown-menu .submenu-left{ 
		right:100%; left:auto;
	}

	.dropdown-menu > li:hover{ background-color: #f1f1f1 }
	.dropdown-menu > li:hover > .submenu{
		display: block;
	}
}	
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {

.dropdown-menu .dropdown-menu{
		margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;
}

}	
/* ============ small devices .end// ============ */


.boxLoginBtn a{
    font-weight: 600;
    padding: 3px 10px 4px 10px;
    border-radius: 30px;
    background-color: #FFF;
}
.boxLoginBtn a:hover{
    color: #FFF;
    background-color: #4D907A;
}

/*********HEADER CSS END*********/


/*********FOOTER CSS START*********/

footer{
    color: #FFF;
    font-weight: 600;
    text-align: center;
    background-color: #A1A1A1;
    padding-bottom: 25px;
}
.boxFooterLogo{
    display: table;
    margin: 0px auto 20px auto;
}
.boxFooterLogo a{
    padding: 10px;
    width: 120px;
    display: inline-block;
    background-color: #FFF;
} 
ul.footerMenu{
    font-weight: 600;
    padding-bottom: 15px;
}
ul.footerMenu li{
    line-height: 1.2;
    display: inline-block;
}
ul.footerMenu li + li{
    padding-left: 10px;
    margin-left: 5px;
    border-left: solid 2px #000;
}
ul.footerMenu li a{
    color: #FFF;
}
ul.footerMenu li a:hover{
    text-decoration: underline;
}
ul.listSocialMedia{
    padding: 0px 10px;
    display: table;
    font-size: 25px;
    margin: 0px auto;
    background-color: #1F1F1F;
}
ul.listSocialMedia li{
    display: inline-block;
}
ul.listSocialMedia li + li{
    padding-left: 10px;
}

ul.listSocialMedia li a{
    color: #FFF;
}
ul.listSocialMedia li a:hover{
    color: #4D907A;   
}
.iconcall{
    margin-right: 20px;
}

/*********FOOTER CSS END*********/

/*********LOGIN PAGE CSS START*********/

.boxLogin{
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
    margin: 50px 0px;
    border:solid 1px #3e3e3e;
    border-left: 0px;
}
.loginArea{
    text-align: center;
    font-weight: 600;

}
.loginArea{
    padding: 25px 25px !important;
}
.input-area{
    margin-bottom: 20px;
}
.loginContent{
    z-index: 1;
    color: #FFF;
    height: 544px;
    position: relative;
    background: url(../images/img_login.jpg) no-repeat center center;
    background-size: cover;
}
.loginContent .row{
    line-height: 0px;
}
.loginContent:after{
    width: 100%;
    height: 100%;
    top:0px;
    left: 0px;
    content: "";
    opacity: 0.8;
    background: rgb(1,186,202);
    background: -moz-linear-gradient(top,  rgba(1,186,202,1) 0%, rgba(1,163,164,1) 50%, rgba(19,110,158,1) 99%);
    background: -webkit-linear-gradient(top,  rgba(1,186,202,1) 0%,rgba(1,163,164,1) 50%,rgba(19,110,158,1) 99%);
    background: linear-gradient(to bottom,  rgba(1,186,202,1) 0%,rgba(1,163,164,1) 50%,rgba(19,110,158,1) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01baca', endColorstr='#136e9e',GradientType=0 );    
    position: absolute;
}
.loginInnerArea{
    width: 100%;
    top:50%;
    left: 0px;
    transform: translateY(-50%);
    padding: 50px;
    z-index: 1  ;
    padding-right: 100px !important;
    position: absolute;
}
.loginInnerArea h1{
    color: #FFF;
}
.form-control2{
    padding: 10px 0px;
    font-weight: 600;
    border-radius: 0px;
    background-color: transparent;
    border-color: #2B2A29;
    border-width: 0px 0px 2px 0px;
}
.form-control2:focus{
    box-shadow: none !important;
    border-color: #4D907A !important;
}
.boxLogin.boxSignup .loginContent{
    height: 670px;
}
.form-check-input:checked{
    background-color: #4D907A;
    border-color: #4D907A;
}


/*********LOGIN PAGE CSS END*********/

/*********HOME PAGE CSS START*********/

.homeSectionTop{
    z-index: 1;
    position: relative;
}
.homeSectionTop:after{
    width: 100%;
    height: 100%;
    left: 0px;
    top:0px;
    z-index: 1;
    content: "";
    background-color: rgba(0,0,0,0.7);
    position: absolute;
}
.imgRight{
    top:30px;
    z-index: 2;
    right: -10px;
    position: absolute;
    max-width: 22%;
}
.imgRight img{
    max-width: 100%;
}
.contentHomeBanner{
    top:40%;
    left: 0px;
    z-index: 2;
    width: 100%;
    position: absolute;
    transform: translateY(-40%);
}
.contentHomeBanner h2{
    color: #FFF;
    font-weight: bold;
    font-size: 50px;
    line-height: 1;
    text-transform: uppercase;
}
.contentHomeBanner h2 span{
    display: block;
    font-size: 80px;
}
.img_homeBanner img{
    width: 100%;
}
.sectionAbout{
    position: relative;
    padding-bottom: 100px;
    background-color: #4D907A;
}
.sectionAbout .imgCloud{
    position: absolute;
    width: 100%;
    bottom: 100%;
    z-index: 3;
}
.sectionAbout .imgCloud img{
    width: 100%;
}
.text-white, .text-white.h2, .text-white h2, .text-white p{
    color: #FFF;
}
.boxAboutContent{
    display: flex;
}
.boxAboutContent .iconAbout{
    width: 120px;
    padding-right: 20px;
}
.boxAboutContent .iconAbout i{
    font-size: 50px;
}
.rowAboutContent{
    padding-top: 40px;
}
.boxAboutContent h4{
    color: #FFF;
    font-weight: bold;
}
.sectionEvent{
    padding: 40px 0px;
    background-color: #A1A1A1;
}
div:focus{
    outline: none !important;
}
.boxEvent{
    padding: 0px 10px;
}
.boxEvent .imgEvent{
    padding-bottom: 10px;
}
.boxEvent .imgEvent img{
    width: 100%;
    border:solid 2px #FFF;
}
.boxEvent a{
    color: #FFF;
    display: block;
}
.slick-arrow{
    position: absolute;
    top:50%;
    width: 40px;
    height: 40px;
    font-size: 0px;
    border-radius: 50%;
    z-index: 10;
    border:none;
    background-color: #4D907A;
    transform: translateY(-50%);
}
.darkbg .slick-arrow{
    background-color: #FFF;
}
.darkbg .slick-arrow.slick-next:after, .darkbg .slick-arrow.slick-prev:after{
    color: #4D907A;
}
.slick-arrow:focus{
    outline: none;
}
.slick-arrow.slick-next{
    right: -20px;
    left: inherit;
}
.slick-arrow.slick-prev{
    left: -20px;
}
.sliderEvents .slick-list, .sliderServices .slick-list{
    margin: 0px -10px;
}
 .slick-arrow.slick-next:after, .slick-arrow.slick-prev:after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #FFF;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    text-align: center;
    font-size: 20px;
}
.slick-arrow.slick-next:after{
    content: "\f054";
}
.slick-arrow.slick-prev:after{
    content: "\f053";
}
.sectionTraning{
    padding: 40px 0px;
    background-color: #4D907A;
}
.boxVideoFree{
    z-index: 1;
    position: relative;
    border:solid 10px #FFF;
    padding: 60px;
    background: url(../images/img_homebanner.jpg) no-repeat center center;
}
.boxVideoFree:after{
    width: 100%;
    height: 100%;
    left: 0px;
    top:0px;
    z-index: -1;
    content: "";
    background-color: rgba(0,0,0,0.7);
    position: absolute;
}
.boxVideoFree h2{
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}
.boxVideoFree .iconPlay{
    font-size: 50px;
    margin-bottom: 20px;
}
.sectionTopTraining{
    padding: 40px 0px;
    background-color: #A1A1A1;
}
.boxPaidTrainings{
    overflow: hidden;
    border-radius: 15px;
    margin: 15px 0px;
    position: relative;
    background-color: #FFF;
    border:solid 8px #4D907A;
}
.boxPaidTrainings .imgTrainings img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.contentPaidTrainings{
    position: absolute;
    bottom: 0px;
    line-height: 1.5;
    padding: 15px 20px;
    background-color: rgba(255,255,255,0.9);
}
.contentPaidTrainings p{
    line-height: 1.4;
}
.contentPaidTrainings p:last-child{
    margin: 0px;
}
.contentPaidTrainings h3{
    text-align: center;
    font-weight: 600;
}
.sectionServices{
    padding: 40px 0px;
    background-color: #4D907A;
}
.boxServices h3{
    color: #FFF;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.boxServices.boxEvent .imgEvent{
    border:solid 8px #FFF;
    padding: 0px;
    margin-bottom: 15px;
}
.boxServices.boxEvent .imgEvent img{
    border:none;
    height: 290px;
    width: 100%;
    object-fit: cover;
}
.sectionTestimonials{
    padding: 40px 0px;
    background-color: #A1A1A1;
}
.sectionTestimonials h3{
    color: #FFF;
    font-size: 25px;
    font-style: italic;
}
.contentTestimonials{
    text-align: center;
    font-size: 20px;
    font-weight: 500;

}
.sliderTestimonials{
    max-width: 600px;
    margin: 0px auto;
    padding: 40px 0px 60px 0px;
}
.contentTestimonials p{
    font-style: italic;
}
.contentTestimonials .userDetail{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.contentTestimonials .userImage{
    width: 100px;
}
.contentTestimonials .userImage img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
}
.contentTestimonials .userName{
    text-align: left;
    padding-left: 20px;
}
.contentTestimonials .userName h4{
    font-size: 25px;
    font-weight: bold;
    color: #FFF;
}
.sliderTestimonials .slick-arrow{
    top:inherit;
    bottom: 0px;
    transform: none !important;
}
.sliderTestimonials .slick-arrow.slick-prev{
    left: 50%;
    margin-left: -45px;
}
.sliderTestimonials .slick-arrow.slick-next{
    right: 50%;
    margin-right: -45px;
}
.sectionCompanies{
    padding: 40px 0px;
    background-color: #4D907A;
}
.boxLogos{
    padding: 20px 0px;
    background-color: #FFF;
}
.rowLogos [class*="col"]{
    padding-top: 10px;
    padding-bottom: 10px;
}
.rowLogos img{
    max-width: 100%;
}
ul.list_radio li{
    display: inline-block;
}
ul.list_radio li + li{
    margin-left: 15px;
}

/*********HOME PAGE CSS END*********/

/*********CONTACT PAGE CSS START*********/

.boxContactUs{
    padding: 50px 0px 0px 0px;
}
.boxMap{
    line-height: 0px;
    border:solid #4D907A;
    border-width: 8px 0px;
}
.boxGetinTouch{
    font-size: 18px;
    padding: 40px 0px 50px 0px;
    background: url(../images/bg-pattern.png) repeat 0px 0px;
}
.boxGetinTouch h3{
    font-size: 28px;
    font-weight: 600;
}
.boxGetinTouch h4{
    font-size: 18px;
    font-weight: 600;
}
.boxAddress{
    max-width: 260px;
    color: #A1A1A1;
}
.btn-submit{
    font-size: 18px;
    min-width: 140px;
}


/*********CONTACT PAGE CSS END*********/

/*********SELF PACED PAGE CSS START*********/

.sectionInvestment{
    padding: 80px 0px;
    color: #FFF;
    background: url(../images/bg-selg.jpg) no-repeat center center;
    background-size: cover;
}

.rowInvestmentContent h2{
    color: #FFF;
}
.boxSelectCource{
    padding: 25px;
    border-radius: 10px;
    background-color: #000;
}
.bg-gray{
    background-color: #A1A1A1;
}
.bg-green{
    background-color: #4D907A;
}
.contentFeatured{
    color: #FFF;
    padding: 40px 20px;
    text-align: center;
}
.contentFeatured h4{
    color: #FFF;
}
.contentFeatured p{
    line-height: 1.5;
}
.iconFeatured{
    width: 100px;
    height: 100px;
    padding: 20px;
    position: relative;
    border-radius: 50%;
    display: table;
    margin: 0px auto 20px auto;
    background-color: #FFF;
}
.iconFeatured img{
    max-width: 50%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.sectionELearning{
    padding: 50px 0px;
}
.subheading{
    line-height: 1.3;
    font-size: 20px;
    font-weight: 500;
    color: #A1A1A1;
}
.btn .fa-sort-down{
    position: relative;
    top:-3px;
    margin-left: 5px;
}
.boxCalendar{
    padding: 80px 0px;
    background-color: #4D907A;
}
.headingCalander h2{
    font-size: 60px;
}
.headingCalander h2 span{
    display: block;
    font-size: 100px;
}
.headingCalander h3{
    color: #FFF;
    font-size: 30px;
}
.boxListServices{
    padding: 50px 0px;
}
.itemsServices{
    text-align: center;
    line-height: 1.3;
    font-size: 20px;
    font-weight: 500;
    color: #A1A1A1;
    margin-bottom: 20px;
}
.itemsServices h2{
    margin-bottom: 10px;
}
.itemsServices .imgServices{
    margin-bottom: 15px;
}
.itemsServices .imgServices img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.listServicesInner{
    padding-top: 20px;
}
.itemsServices .link{
    text-decoration: underline;
}
/*********SELF PACED PAGE CSS END*********/

/*********EXPORT BELIZE PAGE CSS START*********/

.sectionTopBannner{
    color: #FFF;
    z-index: 1;
    padding: 220px 0px;
    position: relative;
    text-align: center;
    background: url("../images/bg-3.jpg") no-repeat center center;
    background-size: cover;
}
.sectionTopBannner:after{
    width: 100%;
    left: 0px;
    top:0px;
    z-index: -1;
    content: "";
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
}
.sectionTopBannner h2{
    color: #FFF;
    font-size: 90px;
    margin: 0px;
}
.sectionGreen{
    padding: 60px 0px;
    background-color: #4D907A;
}
.sectionGreen h2{
    color: #FFF;
}
.boxWhatWeDo{
    color: #A1A1A1;
    height: 100%;
    border:solid 1px #FFF;
    background-color: #FFF;
}
.boxWhatWeDo .contentWhat{
    padding: 10px;
}
.sectionGray{
    padding: 60px 0px;
    background-color: #A1A1A1;
}
.sectionTeam h3{
    font-size: 27px;
    margin-bottom: 20px;
}
.sectionTeam h3, .sectionTeam h4, .sectionTeam h5{
    color: #FFF;
}
.boxteamContent{
    min-height: 230px;
    padding-bottom: 50px;
}
.boxteamContent h4{
    font-size: 20px;
}
.boxteamContent h5{
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
}
.teamDetail{
   position: relative;
   padding-left: 180px;
}
.teamDetail .imageTeam{
    width: 160px;
    left: 0px;
    top:0px;
    position: absolute;
    border:solid 1px #000;
    background-color: #FFF;
}
.teamDetail .imageTeam img{
    width: 100%;
}
.teamRows .boxteamContent:nth-child(even) h4, .teamRows .boxteamContent:nth-child(even) h5{
    text-align: right;
}
.teamRows .boxteamContent:nth-child(even) .teamDetail{
    padding-left: 0px;
    padding-right: 180px;
}
.teamRows .boxteamContent:nth-child(even) .teamDetail .imageTeam{
    right: 0px;
    left: inherit;
}
.teamRows .boxteamContent .contentTeam{
    text-align: justify;
}
.rowResources [class*="col"]{
    margin-bottom: 30px;
}
.rowResources .btnResources{
    display: block;
    color: #4D907A;
    font-size: 32px;
    font-weight: bold;
    height: 60px;
    letter-spacing: 0px;
    line-height: 60px;
    background-color: #FFF;
}

/*********EXPORT BELIZE PAGE CSS END*********/

/*********EVENTS JOBS PAGE CSS START*********/

.sectionTopBannner.sectioneventsJobs{
    background:url("../images/bg-4.jpg") no-repeat center center;
    background-size: cover;
}
.boxEventsList{
    padding: 10px;
    margin-bottom: 10px;
    background-color: #FFF;
}
.boxEventsList a{
    font-weight: 600;
}
.imgEventList{
    margin-bottom: 14px;
}
.boxEventsList p{
    line-height: 1.4;
}
.imgEventList img{ 
    height: 160px;
    width: 100%;
    object-fit: cover;
}
.contentEventsList{
    position: relative;
    padding-left: 70px;
    min-height: 42px;
    margin-bottom: 10px;
}
.contentEventsList .imgEventThumb{
    width: 60px;
    left: 0px;
    top:3px;
    position: absolute;
}
.contentEventsList .imgEventThumb img{
    height: 40px;
    object-fit: cover;
}
.contentEventsList h4{
    color: #333333;
}
.rowEventListing{
    padding-top: 15px;
}
.btn.btn-white{
    color: #4D907A;
    background-color: #FFF;
}
.boxVideo iframe{
    line-height: 0px;
    border:solid 8px #FFF;
}
.sectionComman{
    padding: 60px 0px;
}
.headingRound{
    color: #FFF;
    display: table;
    font-size: 25px;
    border-radius: 30px;
    padding: 8px 25px;
    position: relative;
    margin: 0px auto 20px auto;
    background-color: #4D907A;
}
.rowCompaniesLogos .logoCompanies{
    margin-bottom: 25px;
    text-align: center;
    border:solid 1px #DDD;
}
.rowCompaniesLogos .logoCompanies2 img{
    max-height: 40px;
}
.box-JobDetail{
    padding: 20px;
    position: relative;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 13px rgba(0,0,0,0.1);
}
.linkApplyNow{
    right: 20px;
    position: absolute;
    font-weight: 600;
    font-size: 17px;
}
.box-JobDetail h3{
    color: #3e3e3e;
    padding-right: 150px;
}
.box-JobDetail h4{
    color: #A1A1A1;
    font-weight: 600;
}
ul.listDetailDesigner{
    margin-bottom: 15px;
}
ul.listDetailDesigner li{
    padding-right: 25px;
    display: inline-block;
    margin-bottom: 5px;
    color: #3e3e3e;
}
ul.listDetailDesigner li i{
    width: 20px;
    text-align: left;
}
ul.listDetailDesigner li:last-child{
    display: block;
    padding-right: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
ul.listaddon{
    margin-bottom: 20px;
}
ul.listaddon li{
    position: relative;
    padding-right: 20px;
    display: inline-block;
}
ul.listaddon li + li:after{
    width: 4px;
    height: 4px;
    content: "";
    left: -13px;
    top: 50%;
    margin-top: -1px;
    border-radius: 10px;
    position: absolute;
    background-color: #333333;
}
ul.tagsList li + li{
    margin-left: 12px;
}
ul.tagsList li{
    display: inline-block;
}
ul.tagsList li .jobtag{
    display: inline-block;
    padding: 2px 8px;
    color: #000;
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 2px;
    background-color: #F5F6FA;
}
ul.tagsList li .jobtag i{
    color: red;
    padding-right: 5px;
}
ul.tagsList li .jobtag.active{
    background-color: #D5F0DD;
}
ul.tagsList li .jobtag.active i{
    color: #298765;
}

/*********EVENTS JOBS PAGE CSS END*********/


/*********BUSINESS PAGE CSS START*********/

.sectionBusiness{
    padding: 180px 0px;
    background: url("../images/bg-5.jpg") no-repeat center center;
    background-size: cover;
}
.sectionBusiness.sectionTopBannner:after{
    background-color: rgba(18,62,137,0.8);
}
.sectionBusiness h2{
    font-size: 50px;
    color: #FE9445;
}
.sectionBusiness h4{
    color: #FFF;
    font-size: 33px;
    margin-bottom: 20px;
}
.formArea{
    border:solid 20px rgba(255,255,255,0.3)
}
.rowFormFields{
    display: flex;
}
.rowFormFields .column1, .rowFormFields .column3{
    width: 20%;
}
.rowFormFields .column2{
    width: 60%;
}
.btnSearch{
    width: 100%;
    height: 50px;
    border:none;
    color: #FFF;
    padding: 0px 15px;
    font-size: 20px;
    font-weight: 500;
    background-color: #EF6417;
}
.formArea .form-select{
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 0px;
    border:none;
    background-color: #E6E6E6;
}
.formArea .form-control{
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    border:none;
}
.boxBusinessHub{
    background-color: #FFF;
    padding: 15px;
    margin-bottom: 30px;
}
.boxBusinessHub .imgBusinessHub{
    margin-bottom: 15px;
}
.boxBusinessHub .imgBusinessHub img{
    height: 160px;
    width: 100%;
    object-fit: cover;
}
.boxRating{
    margin-bottom: 15px;
}
.boxBusinessHub h4{
    font-size: 16px;
    color: #3e3e3e;
    margin-bottom: 30px;
}
.boxRating ul.listStar{
    display: inline-block;
    padding-right:15px;
}
.boxRating ul.listStar li{
    display: inline-block;
    color: #F2CF35;
}
.linkBig{
    font-size: 18px;
    font-weight: 600;
}
.sectionMadein{
    background-image: url("../images/bg-pattern-dark.png");
    background-repeat: repeat;
}
.sectionPostRequirments label{
    color: #FFF;
}
.btnFull{
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    border-radius: 0px;
    border:solid 1px #4D907A;
}
.btnFull:hover{
    color: #FFF;
    background-color: #4D907A;
}
.smallTestimonial{
    padding: 30px;
    margin: 15px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    background-color: #FFF;
}
.smallTestimonial .iconQuate{
    color:#EF6117;
    font-size: 20px;
    margin-bottom: 20px;
}
.smallTestimonial h6{
    color: #000;
    margin: 30px 0px 3px 0px;
}
.smallTestimonial h5{
    margin: 0px;
    font-size: 14px;
    color: #333333;
    font-weight: 300;
}
.slick-dots{
    margin: 30px auto 20px auto;
    display: table;
    text-align: center;
}
.slick-dots li{
    display: inline-block;
}
.slick-dots li + li{
    margin-left: 8px;
}
.slick-dots li button{
    width: 12px;
    height: 12px;
    font-size: 0px;
    border:none;
    background-color: #DDD;
    padding: 0px;
    border-radius: 10px;
}
.slick-dots li.slick-active button{
    background-color:#EF6117;
}
.sectionFAQ{
    padding: 60px 0px;
    background: url(../images/bg-pattern.png) repeat;
}
.accordion-item{
    background-color: transparent;
    border:none;
}
.accordion-button:not(.collapsed){
    color: #4D907A;
    background-color: transparent;
    border:none;
    box-shadow: none;
}
.accordion-body{
    padding: 10px 0px 15px 0px;
    font-size: 22px;
    font-weight: 600;
    color: #A1A1A1;
}
.accordion-body p{
    line-height: 1.3;
}
.accordion-button{
    padding: 0px;
    color: #4D907A;
    font-size: 22px;
    font-weight: 600;
    background-color: transparent;
}
.accordion-item + .accordion-item{
    margin-top: 25px;
}
.accordion-button:focus{
    box-shadow: none;
}
.accordion-button:after{
    content: "\f055";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    background: none !important;
}
.accordion-button:not(.collapsed)::after{
    content: "\f056";
}

/*********BUSINESS PAGE CSS END*********/

/*********PRODUCT PAGE CSS START*********/

.headingABC{
    color: #3e3e3e;
}
.headingABC img{
    max-width: 50px;
    margin-right: 15px;
    padding: 8px;
    border:solid 1px #DDD;
}
.rowTopProduct{
    padding: 20px 0px;
}
ul.listProductMenu li{
    display: inline-block;
}
ul.listProductMenu li a{
    display: block;
    padding: 8px 15px;
    color: #FFF;
    background-color: #4D907A;
    font-weight: 600;
}
.boxBtns .btn{
    width: 100%;
}
.boxBtns .btn + .btn{
    margin: 10px 0px 0px 0px;
}
.headingABC{
    font-size: 30px;
}
.productArea{
    padding-bottom:40px;
}
.boxProduct{
    position: relative;
    border: solid 1px #DDD;
}
.boxProduct h4{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    color: #FFF;
    font-size: 14px;
    padding: 15px 10px;
    text-align: center;
    margin: 0px;
    background-color: rgba(0,0,0,0.8);
}
.boxProduct .imgProduct{
    height: 250px;
    padding: 20px;
}
.boxProduct .imgProduct img{
    max-height: 208px;
}
.aboutArea{
    padding-bottom: 40px;
    border-bottom: solid 8px #4D907A;
}
.contentEstablished{
    position: relative;
    padding-left: 65px;
}
.contentEstablished i{
    font-size: 50px;
    left: 0px;
    top:0px;
    position: absolute;
}
.contentEstablished h5{
    margin: 0px 0px 3px 0px;
    font-size: 24px;
}
.contactArea{
    padding: 60px 0px;
}

.sectionLightGray{
    padding: 60px 0px;
    background-color: #f9f9f9;
}
.contactArea .boxMap{
    border:solid 8px #78678c;
}
.infoBox{
    font-size: 18px;
    font-weight: 600;
    color: #78678c;
    margin-bottom: 30px;
}
.infoBox p{
    line-height: 1.5;
}
.contactArea h2{
    font-size: 33px;
}
.sectionLinks{
    border-top:solid 8px #4D907A;
    padding-top: 40px;
    padding-bottom: 90px;
}
.linkrows{
    text-align: center;
}
.linkrows h4{
    display: inline-block;
    margin: 0px;
    font-size: 18px;
}
.linkrows h4 a{
    color: blue;
    text-decoration: underline;
}
.linkrows [class*="col"]{
    padding-top: 15px;
    padding-bottom: 15px;
}
.linkrows [class*="col"] + [class*="col"]{
    border-left:solid 1px #000;
}
ul.listSocialMediaNew{
    display: inline-block;
    position: relative;
    top: -2px;
}
ul.listSocialMediaNew li{
    display: inline-block;
}
ul.listSocialMediaNew li + li{
    margin-left: 2px;
}
ul.listSocialMediaNew li a{
    height: 25px;
    width: 25px;
    display: block;
    color: #FFF;
    font-size: 12px;
    line-height: 25px;
    border-radius: 30px;
    background-color: #A1A1A1;
}
ul.listSocialMediaNew li a:hover{
    color: #FFF;
    background-color: #4D907A;
}


/*********PRODUCT PAGE CSS END*********/

















@media (max-width: 1200px){

}